# python 3.12.10

litellm
sqlite_vec
pipecat
ollama
litellm[proxy]
python-telegram-bot
sqlite-vec
duckduckgo-search
jsonschema
pytest

google-api-python-client
google-auth-httplib2
google-auth-oauthlib